<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="/css/contact.css">




<!----------------------------------------- Navbar ---------------------------------------------->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="/">YOUSAY</a>

	  <div class="collapse navbar-collapse" id="navbarNav">
	  	
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item">
	        <a class="nav-link" href="/2017SummerSpecial">2017 SummerSpecialEdition</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Women</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">About</a>
	      </li>
	      <li class="nav-item active">
	        <a class="nav-link" href="/contact">Contact<span class="sr-only">(current)</span></a>
	      </li>
	    </ul>
	  </div>
</nav>





<!----------------------------------------title on the background----------------------------------->

<h1 class="bg-text">研色，全心全力，尽心尽力</h1>





<!----------------------------------------background image------------------------------------------>

<img src="/images/about.jpg" class="img-fluid" alt="Responsive image">





<!----------------------------------------contact infomation---------------------------------------->

<div class="container">
	<div class="row">
		<div class="col">
			<h6 class="text">联系电话：000-000-0000</h6>
			<h6 class="text">邮箱：yousay@gmail.com</h6>
			<h6 class="text">传真：12345</h6>
			<h6 class="text">微信：00000000000000</h6>
		</div>
		<div class="col">
			<h6 class="text">工作时间: 周一至周五 8:00 - 20:00</h6>
			<h6 class="text">周六, 周日: 10:00 - 17: 00</h6>
		</div>
		<div class="col">
			<h6 class="text">工作地址: 某某街, 研色专柜</h6>
			<h6 class="text">邮编： 13232</h6>
		</div>
		<div class="col">
		</div>
	</div>
</div>

<% include ../partials/footer %>