<% include ../partials/header %>

<div class="container">
		<div class="row">
		<div class="col-lg-12 col-md-8 col-sm-4">

			<a id = "brand" href="/">YOUSAY</a>

			<video poster="" id="bgvid" playsinline autoplay loop>
  			
			<source src="videos/landing.mp4" type="video/mp4">
			</video>

			<ul class="list-unstyled">
				<li><a href="/">2017夏季新款</a></li>
				<li><a href="/">女装</a></li>
				<li><a href="/">关于</a></li>
				<li><a href="/">联系我们</a></li>
			</ul>
		</div>
	</div>
</div>
<% include ../partials/footer %>
