<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="/css/landingM.css">

<div class="container">
		<div class="row">
			<div class="col-sm-4">
			<a id = "brand" href="/">YOUSAY</a>
			<ul class="list-unstyled">
				<li><a href="/2017SummerSpecial">2017夏季新款</a></li>
				<li><a href="/women">女装</a></li>
				<!--<li><a href="/about">关于</a></li>-->
				<li><a href="/contact">联系我们</a></li>
			</ul>
			</div>
		</div>
</div>


<% include ../partials/footer %>
