<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="/css/seasonalSpecial.css">

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="/">YOUSAY</a>

	  <div class="collapse navbar-collapse" id="navbarNav">
	  	
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="#">2017 SummerSpecialEdition<span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Women</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">About</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Contact</a>
	      </li>
	    </ul>
	  </div>
</nav>

<img src="/images/seasonalSpecialTop.jpg" class="img-fluid" alt="Responsive image">



<!-------------------------------------      mini title   --------------------------------->
<div class = "container-fluid">
	<div class="row">
		<div class="col text-center">
			<h3 class="h3">研色七月</h3>
			<img src="/images/2017_simple1.png" class="img-fluid w-50 p-1" alt="Responsive image">
			<h6>研色7月精心挑选微薄丝绸，给你清爽干净的夏天。</h6>
		</div>
	</div>
</div>



<!-------------------------------------mini images galaries--------------------------------->
<div id="images-galaries" class = "container">
	<div class="row text-center">
		<div class="col-lg-2">
		</div>
		<div class="col">
			<img id="img1"src="/images/2017_1.png">
		</div>
		<div class="col">
			<img id="img2" src="/images/2017_2.png">
		</div>
		<div class="col">
			<img id="img3" src="/images/2017_3.png">
		</div>
		<div class="col-lg-2">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2">
		</div>
		<div class="col">
			<img id="img4" src="/images/2017_4.png">
		</div>
		<div class="col">
			<img id="img5" src="/images/2017_5.png">
		</div>
		<div class="col-lg-2">
		</div>
	</div>
</div>



<!------------------------------------- second full image--------------------------------->
<div class = "container-fluid">
	<div class="row">
		<div class="col text-center">
			<h3 class="h3">研色七月清爽推荐</h4>
			<img src="/images/2017_simple1.png" class="img-fluid w-50 p-1 mb-4" alt="Responsive image">
		</div>
	</div>
</div>

<img src="/images/2017_6.png" class="img-fluid" alt="Responsive image">


<!-------------------------------------two more images--------------------------------->

<div id="twoImagesContainer" class="container-fluid">
	<div class="row">
		<div id="leftText" class="col">
			<h3 class="leftOne">淡蓝半身短裙</h3>
			<h3 class="leftOne">展现夏天不是失自由的你</h3>
			<h6>RMB 889</h6>
		</div>
		<div class="col-6">
			<div id="borderOne">
				<img id="img7" src="/images/2017_8.png">
			</div>
		</div>
	</div>
</div>

<% include ../partials/footer %>