.navbar-light .navbar-nav .nav-link{
	font-family: 'Athelas', bold;
}

.navbar-brand {
	font-family: 'Athelas', bold;
	font-size: 30px;
}

.navbar {
	background-color: white;
}

#nav-hr {
  position: absolute;
  width: 16%;
  margin-left: 0px;
  margin-top: -2px;
}

.nav-header {
  display: inline;
  font-family: serif;
  font-style: italic;
  color: #6B6B6B;

}

.container {
  margin-top: 30px;
}

p6 {
  display: block;
  font-size: 2vw;
}

p3 {
  font-size: 5vw;
  font-family: 'Times New Roman';
  font-style: bold;
  text-transform: capitalize;
}

p5 {
  font-size: 2.5vw;
}

#clothes-description {
  font-family: 'Cambria';
}

.img {
  margin-top: 4%;
  margin-bottom: 4%;
  width: 10%;
  height: 10%;
  display: block;
}

.mini {
  margin-left: 5%;
  margin-top: 2.5%;
}
