.navbar-light .navbar-nav .nav-link{
	font-family: 'Athelas', bold;
}

.navbar-brand {
	font-family: 'Athelas', bold;
	font-size: 30px;
}

.navbar {
	background-color: white;
}

.h3 {
	margin-top: 17%;
	font-family: 'STFangsong';
	font-size: 3.5vw;
	position: center;
	color: #6B6B6B;
}

h6 {
	font-family: 'Arial';
	font-size: 2vw;
	margin-top: 2%;
	color: #6B6B6B;
}

.leftOne {
	font-family: 'Arial';
	color: #6B6B6B;
	font-size: 2.2vw;
}

#images-galaries {
	margin-top: 17%;
}

#img1 {
	height: auto;
	width: 110%;
}

#img2 {
	width: 82%;
	height: auto;
}

#img3 {
	width: 120%;
	height: auto;
	margin-left: -10%;
}

#img4 {
	width: 131%;
	height: auto;
	margin-top: -18%
}

#img5 {
	width: 77%;
	height: auto;
	margin-left: 29.5%;
	margin-top: 7.5%;
}

#twoImagesContainer {
	
	margin-top: 6%;
}

#img7 {
	width: 100%;
	height: auto;
	margin-top: -6%;
}

#img8 {
	width: 100%;
	height: auto;
	margin-top: 11%;
}

#borderOne {

	border-right: 1px #C1C1C1 solid;
	height: 20vw;
	margin-top: -202%;
}

#leftText {
	margin-top: 5%;
	margin-left: 10%;
	width: 50%;
}

#rightText {
	margin-top: 123%;
	margin-left: 30%;
	width: 60%;
}

#borderTwo {

	border-left: 1px #C1C1C1 solid;
	height: 20vw;
	width: 30vw;
	margin-top: 9%;
}

#btm-hr {
	margin-top: 15%;
	width: 94%;
}

.no-left-padding {
	padding-left: 0px;
}

.no-right-padding {
	padding-right: 0px;
}

.second {
	margin-top: -76%;
}

#back {
	font-family: 'Arial';
	font-size: 2vw;
	margin-top: 1%;
	margin-left: 5.5%;
	margin-bottom: 6%;
	color: #6B6B6B;
	text-decoration: none;
}

