.navbar-light .navbar-nav .nav-link{
	font-family: 'Athelas', bold;
}

.navbar-brand {
	font-family: 'Athelas', bold;
	font-size: 30px;
}

.navbar {
	background-color: white;
}

.h3 {
	margin-top: 17%;
	font-family: 'STFangsong';
	font-size: 50px;
	position: center;
	color: #6B6B6B;
}

h6 {
	font-family: 'Arial';
	font-size: 20px;
	margin-top: 2%;
	color: #6B6B6B;
}

.leftOne {
	font-family: 'Arial';
	color: #6B6B6B;
}

#images-galaries {
	margin-top: 17%;
}

#img1 {
	height: auto;
	width: 110%;
}

#img2 {
	width: 82%;
	height: auto;
}

#img3 {
	width: 120%;
	height: auto;
	margin-left: -10%;
}

#img4 {
	width: 131%;
	height: auto;
	margin-top: -18%
}

#img5 {
	width: 77%;
	height: auto;
	margin-left: 29.5%;
	margin-top: 7.5%;
}

#twoImagesContainer {
	padding:0px;
	margin-top: 6%;
}

#img7 {
	width: 100%;
	height: auto;
	margin-top: -6%;
}

#borderOne {

	border-left: 1px #C1C1C1 solid;
	padding-left: 4%;
	height: 32%;
}

#leftText {
	margin-top: 5%;
	margin-left: 12%;
}


